body {
  margin: 0;
  padding: 0;
}
header, footer, main {
  padding-left: 30px;
  padding-right:30px;
}
main h1, main p {
  color: #FFFFFF;
}
main a {
  color: rgb(182, 88, 71);
}
main a:hover {
  color: red;
}
#first-heading {
  color: magenta;
  margin: 25px;
} .my-div-class{
    background-color: #454545;
    padding: 25px;
}
